@font-face {
    font-family: KAfont;
    src: url('assets/fonts/BLKCHCRY.ttf') format('truetype');
}
body { 
    background-color: #c6d7de;
    font-family: "KAfont";
    padding: 3em; 
}

#v0 { 
    position: fixed;  
    bottom: 0; 
    right: 0;
    width: 100%; 
}

#set-height { 
    display: block; 
}

section { 
    z-index: 1; /*sit on top of content */
    position: relative; 
    /* height: 100vh;  */
}
 

.content .h1 { 
    font-size: 3 em; 
    background: #fff; 
    display: inline-block; 
    padding: 15px; 
    border-radius: 5px; 
    margin: 0; 
}
.introduction { 
    text-align: center;
}
.content { 
    position: sticky; 
    position: -webkit-sticky; 
    width: 100%; 
    top: 33.3%; 
    text-align: center; 
} 

section:nth-of-type(1) { 
    height: 1500px;
}
section:nth-of-type(2) { 
    height: 3000px;
}
section:nth-of-type(3) { 
    height: 4500px;
}
